<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Pixel Art Maker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton">
  </head>
<body>
    <header>
      <h1>Pixel Art Maker</h1>
      <h2>Create your own design or choose from a template!</h2>
      <br>
      <form id="sizePicker">
        Grid Height: <input id="height" type="number" min="1" max="75" value="1"> 
        Grid Width: <input id="width" type="number" min="1" max="75" value="1">
        <input type="submit" value="Submit" id="submit">
      </form>
      <h2>Pick a color <input type="color" id="colorPicker"></h2>
      <h2>Color by numbers</h2>
      <form id="choices">
        <select name="picture" id="pictureChoice">
          <option value="none">None</option>
          <option value="smileyFace">Smiley Face</option>
        </select>
      </form>
      <br>
      <form>Remove border and numbering<input type="checkbox" id="checkBox"></form>
      <h2>Design Canvas</h2>
    </header>
    <div id="container">
    </div>
  </body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
</html>
